.container {
  padding: 20px;
  display: flex;
  flex-flow: column;
  max-width: 300px;
}

.label {
  padding: 0.25rem 0;
}

.input {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}

.selectInput {
  padding: 0.5rem;
  border: none;
}

.heading {
  padding: 0 20px;
}
